In [89]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import taxopy

In [90]:
df = pd.read_csv('data/report.N23.txt', sep='\t', header=None)
df

,0,1,2,3,4,5
0,24.71,6769450,6769450,U,0,unclassified
1,75.29,20626790,5482,R,1,root
2,75.24,20612604,23206,R1,131567,cellular organisms
3,64.78,17746608,2581,R2,2759,Eukaryota
4,64.73,17734691,0,R3,33154,Opisthokonta
...,...,...,...,...,...,...
20512,0.00,5,0,O,1511857,Ligamenvirales
20513,0.00,5,0,F,157897,Rudiviridae
20514,0.00,5,0,G,2842391,Azorudivirus
20515,0.00,5,0,S,2843747,Azorudivirus SRV
20516,0.00,5,5,S1,537009,Stygiolobus rod-shaped virus

In [91]:
df[5] = df[5].str.replace(' ', '')

In [92]:
unclassified = df.iloc[0][0]
filtered_df = df[(df[3].isin(["R2", "U"])) & (df[0] > 0)]

In [93]:
# Remove the row where column 5 is "Eukaryota"
filtered_df = filtered_df[filtered_df[5] != "Eukaryota"]

# Add rows where column 5 is "Canis lupus familiaris", "Ursus arctos" or "Homo sapiens"
new_rows = df[df[5].isin([
    "Canislupusfamiliaris",
    "Ursusarctos",
    "Homosapiens"])]

filtered_df = pd.concat([filtered_df, new_rows])
filtered_df

           0         1         2   3      4                     5
0      24.71   6769450   6769450   U      0          unclassified
229    10.34   2831620     98599  R2      2              Bacteria
17986   0.04     11170         3  R2   2157               Archaea
18882   0.03      7023      7023  R2  28384        othersequences
29     64.39  17639433  17639433  S1   9615  Canislupusfamiliaris
32      0.20     55948     55948   S   9644           Ursusarctos
42      0.05     14515     14515   S   9606           Homosapiens