In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import taxopy

In [2]:
df = pd.read_csv('report.N23.tsv', sep='\t')
df = df.sort_values(by="abundance", ascending=False)
df

,name,taxID,taxRank,genomeSize,numReads,numUniqueReads,abundance
1168,Canis lupus familiaris,9615,subspecies,2482000080,18669448,17135144,0.623155
1226,Bacteroides zoogleoformans,28119,species,3361794,3840,1112,0.093474
14703,Prevotella sp. E15-22,2937774,species,3335334,3190,1110,0.053459
5076,Porphyromonas crevioricanis,393921,species,2133352,20239,18471,0.030949
1594,Porphyromonas cangingivalis,36874,species,2404857,12874,9945,0.018487
...,...,...,...,...,...,...,...
6022,Rhodothermaceae,563843,family,0,9,0,0.000000
6023,Sphingomonas hankookensis,563996,species,3947172,1858,1115,0.000000
6024,Spirosoma rigui,564064,species,5828404,485,379,0.000000
6025,Ralstonia solanacearum MolK2,564065,strain,5586409,258,50,0.000000
17808,Thalassobellus,3400333,genus,0,1,0,0.000000

In [4]:
total_abundance = df['abundance'].sum()
total_abundance

np.float64(1.0000005723974001)

In [3]:
taxdb = taxopy.TaxDb(nodes_dmp="../taxdb/nodes.dmp", names_dmp="../taxdb/names.dmp")

In [12]:
print(taxopy.Taxon(9615, taxdb).rank_name_dictionary["superkingdom"])

Eukaryota

In [18]:
df.iloc[0]['taxID']

np.int64(9615)

In [20]:
for row in range(len(df)):
    taxid = df.iloc[row]['taxID']
    taxon = taxopy.Taxon(taxid, taxdb)
    df["superkingom"] = taxon.rank_name_dictionary["superkingdom"]

In [23]:
df

,name,taxID,taxRank,genomeSize,numReads,numUniqueReads,abundance,superkingom
1168,Canis lupus familiaris,9615,subspecies,2482000080,18669448,17135144,0.623155,Bacteria
1226,Bacteroides zoogleoformans,28119,species,3361794,3840,1112,0.093474,Bacteria
14703,Prevotella sp. E15-22,2937774,species,3335334,3190,1110,0.053459,Bacteria
5076,Porphyromonas crevioricanis,393921,species,2133352,20239,18471,0.030949,Bacteria
1594,Porphyromonas cangingivalis,36874,species,2404857,12874,9945,0.018487,Bacteria
...,...,...,...,...,...,...,...,...
6022,Rhodothermaceae,563843,family,0,9,0,0.000000,Bacteria
6023,Sphingomonas hankookensis,563996,species,3947172,1858,1115,0.000000,Bacteria
6024,Spirosoma rigui,564064,species,5828404,485,379,0.000000,Bacteria
6025,Ralstonia solanacearum MolK2,564065,strain,5586409,258,50,0.000000,Bacteria
17808,Thalassobellus,3400333,genus,0,1,0,0.000000,Bacteria